## Preprocessing

In [25]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [26]:
# Drop the non-beneficial ID columns
application_df = application_df.drop(columns= ['EIN'])

In [27]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [28]:
# Look at NAME value counts for binning
counts = application_df['NAME'].value_counts()
counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [29]:
# Choose a cutoff value and create a list of names to be replaced

names_to_replace = list(counts[counts<50].index)

# Replace in dataframe
for names in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(names,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 24545
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
MONTANA 4-H FOUNDATION INC                                              107
HONOR SOCIETY OF PHI KAPPA PHI                                          107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
AIR FORCE ASSOCIATION                                                    99
WORKERS UNITED                                                           97
GAMMA THETA UPSILON                                                      92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                               91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                  87
ROTARY INTERNATIONAL                                                     84
CALIFORNIA GARDEN CLUBS INC                                              76
SWEET ADELINES INTERNATIONAL                                             73
DISABLED AMERICAN VETERANS                                               73
KLEIN SUPPORT GROUPS INC                                                 69
CLEARCREEK I S D SUPPORT GROUPS                                          60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                 58
CISD EDUCATIONAL SUPPORT GROUPS INC                                      57
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC           57
SONS OF CONFEDERATE VETERANS INC                                         56
SLOW FOOD USA INC                                                        55
NATIONAL YOUNG MENS SERVICE LEAGUE                                       54
AMATEUR ATHLETIC UNION OF THE UNITED STATES                              52
LAMBDA THETA ALPHA                                                       52
UNITED FEDERATION OF DOLL CLUBS INC                                      50
UNIVERSITY OF FLORIDA                                                    50
Name: NAME, dtype: int64

In [30]:
# Look at APPLICATION TYPE counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [31]:
# Choose a cutoff value and create a list of APPLICATION TYPES to be replaced

apps_to_replace = list (counts[counts<500].index)
apps_to_replace

# Replace in dataframe
for apps in apps_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(apps,"Other")
    
# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [32]:
# Look at CLASSIFICATION value counts for binning
countsbinning = application_df['CLASSIFICATION'].value_counts()

In [33]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countsclassification = countsbinning[countsbinning>1]
countsclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [34]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (countsbinning[countsbinning<100].index)
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [35]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [36]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AIR FORCE ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CALIFORNIA GARDEN CLUBS INC,NAME_CISD EDUCATIONAL SUPPORT GROUPS INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [37]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values

y

array([1, 1, 0, ..., 0, 1, 0])

In [38]:
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

X

array([[1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 1.0859000e+05, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       ...,
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 3.6500179e+07, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00]])

In [39]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [40]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [41]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 7)                 714

 dense_4 (Dense)             (None, 14)                112

 dense_5 (Dense)             (None, 1)                 15

=================================================================
Total params: 841
Trainable params: 841
Non-trainable params: 0
_________________________________________________________________

In [42]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [43]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5575 - accuracy: 0.7191
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4939 - accuracy: 0.7597
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4863 - accuracy: 0.7607
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4827 - accuracy: 0.7608
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4806 - accuracy: 0.7624
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4790 - accuracy: 0.7613
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4779 - accuracy: 0.7632
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4767 - accuracy: 0.7637
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4757 - accuracy: 0.7636
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4753 - accuracy: 0.7647
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4746 - accuracy: 0.7646
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4741 - accuracy: 0.7655
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4734 - accuracy: 0.7668
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4731 - accuracy: 0.7660
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4725 - accuracy: 0.7671
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4727 - accuracy: 0.7676
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4725 - accuracy: 0.7666
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4722 - accuracy: 0.7687
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4719 - accuracy: 0.7672
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4718 - accuracy: 0.7677
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4715 - accuracy: 0.7685
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4711 - accuracy: 0.7689
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4711 - accuracy: 0.7682
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4709 - accuracy: 0.7683
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4710 - accuracy: 0.7690
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4705 - accuracy: 0.7691
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4706 - accuracy: 0.7692
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4706 - accuracy: 0.7685
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4702 - accuracy: 0.7691
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4701 - accuracy: 0.7687
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4702 - accuracy: 0.7686
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4698 - accuracy: 0.7692
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4693 - accuracy: 0.7703
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4694 - accuracy: 0.7687
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4694 - accuracy: 0.7698
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4696 - accuracy: 0.7694
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4689 - accuracy: 0.7701
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4691 - accuracy: 0.7698
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4687 - accuracy: 0.7703
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4690 - accuracy: 0.7706
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4688 - accuracy: 0.7704
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4686 - accuracy: 0.7699
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4686 - accuracy: 0.7701
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4687 - accuracy: 0.7703
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4684 - accuracy: 0.7701
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4680 - accuracy: 0.7703
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4684 - accuracy: 0.7699
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4680 - accuracy: 0.7701
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4682 - accuracy: 0.7708
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4685 - accuracy: 0.7697
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4679 - accuracy: 0.7708
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4683 - accuracy: 0.7713
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4681 - accuracy: 0.7719
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4678 - accuracy: 0.7709
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4678 - accuracy: 0.7708
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4677 - accuracy: 0.7712
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4679 - accuracy: 0.7699
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4675 - accuracy: 0.7703
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4675 - accuracy: 0.7699
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4673 - accuracy: 0.7711
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4674 - accuracy: 0.7708
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4673 - accuracy: 0.7719
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4676 - accuracy: 0.7705
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4670 - accuracy: 0.7713
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4672 - accuracy: 0.7707
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4671 - accuracy: 0.7705
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4662 - accuracy: 0.7710
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4664 - accuracy: 0.7705
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4663 - accuracy: 0.7711
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4663 - accuracy: 0.7705
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4662 - accuracy: 0.7721
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4663 - accuracy: 0.7714
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4664 - accuracy: 0.7714
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4659 - accuracy: 0.7716
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4661 - accuracy: 0.7699
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4659 - accuracy: 0.7717
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4660 - accuracy: 0.7724
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4657 - accuracy: 0.7714
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4657 - accuracy: 0.7718
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4658 - accuracy: 0.7712
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4662 - accuracy: 0.7714
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4655 - accuracy: 0.7719
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4659 - accuracy: 0.7715
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4656 - accuracy: 0.7727
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4659 - accuracy: 0.7721
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4654 - accuracy: 0.7711
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4657 - accuracy: 0.7718
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4658 - accuracy: 0.7711
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4655 - accuracy: 0.7719
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4654 - accuracy: 0.7724
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4656 - accuracy: 0.7717
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4659 - accuracy: 0.7713
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4653 - accuracy: 0.7721
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4654 - accuracy: 0.7715
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4655 - accuracy: 0.7720
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4654 - accuracy: 0.7724
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4655 - accuracy: 0.7719
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4652 - accuracy: 0.7717
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4652 - accuracy: 0.7720
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4652 - accuracy: 0.7711

In [44]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4843 - accuracy: 0.7643 - 436ms/epoch - 2ms/step
Loss: 0.4842992126941681, Accuracy: 0.7643148899078369

In [46]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/AlphabetSoupCharity_Optimization.h5')
files.download('/content/AlphabetSoupCharity_Optimization.h5')